@model Qqhru.Models.Group
@{
    ViewBag.Title = "Edit";
}

<h2>编辑课组</h2>
@using (Html.BeginForm("Edit", "Group", FormMethod.Post))
{
    <input type="hidden" value="@Model.ID" name="id" />
    <table class="detail-table">
        <tr>
            <td class="row-title">课组名称</td>
            <td>@Html.TextBoxFor(x => x.Title, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">课组简介</td>
            <td>@Html.TextBoxFor(x => x.Description, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">组长</td>
            <td>
                <select name="UserID">
                    @foreach (Qqhru.Models.User u in ViewBag.Users)
                {
                        <option @(Model.UserID == u.ID ? "selected" : "")>@u.Name</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="保存" class="button blue" /></p>
}